<div class="wrapper white">
  <%= t 'line1' %><br/> 
  <%= t 'line2' %>
</div>

<% if @tweets -%>
<div class="wrapper white">
  <h3><%= t 'twitter.stream' %>
    <span class="right">
      <a href="http://twitter.com/fraank" class="link"><%= t 'twitter.profile' %></a> | 
      <a href="javascript:void(0);" title="<%= t "twitter.prev" %>" class="link grey" id="twitter_scroll_prev" onclick="twitter_scroll.prev();">&#9668;</a>
      <a href="javascript:void(0);" title="<%= t "twitter.next" %>" class="link" id="twitter_scroll_next" onclick="twitter_scroll.next();">&#9658;</a>
    </span>
  </h3>
  <ul id="tweets">
  <% @tweets.each_with_index do |tweet, index| -%>
  
    <li id="twitter_scroll_<%=index+1 %>" <% if index > 0%>style="display:none;"<% end %>>
      <i><%= I18n.l( Time.parse(tweet.created_at ), :format => "short") %></i>
      <p><strong>&#8220;</strong><%= tweet.text %><strong>&#8221;</strong></p>
    </li>
  
  <% end -%>
  </ul>
</div>
<% end -%>

<% if @pics -%>
<div class="wrapper white">
  <h3><%= t 'flickr.stream' %> <a href="http://www.flickr.com/photos/symfony/" class="link right"><%= t 'flickr.profile' %></a></h3>
  
  <div id="flickr_pics">
    <div class="inner">
    <% @pics.each do |pic| -%>
      <a href="<%=pic.link%>"><img src="<%= pic.url('t') %>" alt="<%=pic.title%>" title="<%=pic.title%>" /></a>
    <% end -%>
    </div>
  </div>
  
</div>
<% end -%>

<%= render :partial => 'shared/social'%>